**/.vs
**/obj
*.exe
*.pdb
*.zip
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bin/Debug/Lab4v2.exe
/obj/Debug/Lab4v2.csproj.GenerateResource.cache
/obj/Debug/Lab4v2.exe
/bin/Debug/Lab4v2.pdb
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/Lab4v2.csproj.CoreCompileInputs.cache
/obj/Debug/Lab4v2.csproj.FileListAbsolute.txt
/obj/Debug/Lab4v2.pdb
/.vs/Lab4v2/v17/.suo
